@use 'sass:math';

// 根元素大小
$rootValue: 12;

#themeConfig.light {
	--layout-background-color: #f4f5f5; // 布局背景颜色
	--primary-color: #000; // 主要的字体颜色
	--secondary-color: #86909c; // 次一级字体颜色，例如：文章描述
	--primary-background-color: #ffffff; // 主要的背景色
	--navbar-background-color: #ffffff; // navbar组件的背景色
	--juejin-color-nav-title: #515767; // navbar组件字体颜色
	--link-color: #0070f3; // 链接 hover 上去的颜色
	--article-title-color: #000; // 文章标题字体颜色
	--article-desc-color: #86909c; // 文章描述字体颜色
	--article-hover-bg: #fafafa; // 文章hover背景颜色
	--border-line-color: #9797971a; // 边框颜色
	--juejin-gray-3: #f7f8fa;
	--juejin-brand-5-light: #eaf2ff;
	--juejin-font-3: #8a919f;
	--juejin-gray-1-2: rgba(228, 230, 235, 0.5);
}

#themeConfig.dark {
	--layout-background-color: #000;
	--primary-color: #ffffff;
	--secondary-color: #f9f9f999;
	--primary-background-color: #0e0e0e;
	--navbar-background-color: #272727;
	--juejin-color-nav-title: #e3e3e3;
	--link-color: #34a8eb;
	--article-title-color: #e3e3e3;
	--article-desc-color: #a9a9a9;
	--article-hover-bg: #3a3a3a;
	--border-line-color: #9797971a;
	--juejin-gray-3: #f7f8fa;
	--juejin-brand-5-light: #eaf2ff;
	--juejin-font-3: #8a919f;
	--juejin-gray-1-2: rgba(228, 230, 235, 0.5);
}

@mixin text-overflow($number: 1) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $number;
	line-clamp: $number;
	-webkit-box-orient: vertical;
}

// 写一个自定义函数，让 px 换算 rem 时，可以控制小数点的位数，要不计算出来太长了
// 第一个参数为需要处理的数值，第二个为小数点后取几位数
@function decimalRound($number, $digits: 0) {
	$n: 1;
	@if type-of($number) != number {
		@warn '#{ $number } is not a number.';
		@return $number;
	}
	@if type-of($digits) != number {
		@warn '#{ $digits } is not a number.';
		@return $number;
		// digits 不能带单位
	} @else if not unitless($digits) {
		@warn '#{ $digits } has a unit.';
		@return $number;
	}
	@if $digits > 0 {
		@for $i from 1 through $digits {
			$n: $n * 10;
		}
	}
	@return calc(round($number * $n) / $n);
}

@function torem($px) {
	@return decimalRound(math.div($px, $rootValue), 3) * 1rem;
}
